/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2c3e50;
}

form {
    width: 50%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 20px;
}

legend {
    font-size: 1.2em;
    color: #2c3e50;
}

label, input, select {
    font-size: 1em;
    margin: 8px 0;
}

input[type="text"],
input[type="number"],
select {
    width: calc(50% - 12px);
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 5px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
